* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    /* background-size: max(2100px,100%); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 111vh;
    position: relative;
    overflow: hidden;



}

.main .box {
    background-color: black;
    width: 100%;
    height: 111vh;
    opacity: 0.8;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    max-width: 80vw;
    margin: auto;
    padding: 10px;
}

nav img {
    position: relative;
    z-index: 10;
    width: 155px;
}

nav button {
    position: relative;
    z-index: 10;
    background-color: red;
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 3px;
    margin: 5px;
}

select {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: white;
    width: 200px;
    height: 30px;
    font-weight: 650;
}

select option {
    color: black;
    font-weight: 300;
}

.boxtext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    color: white;
    position: relative;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.boxtext :first-child {
    font-size: 53px;
    font-family: "poppins";
    font-weight: 700;
    font-style: normal;
    width: 35vw;

}

.boxtext :nth-child(2) {
    font-size: 20px;
    font-family: sans-serif;
    padding: 28px;
    font-weight: 600;
}

.boxtext> :nth-child(3) {
    border: none;
    background-color: red;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
}

.curve-section {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: linear-gradient();
    background: radial-gradient(circle, rgb(255, 72, 0), rgb(218, 66, 66) 30%, rgb(243, 53, 107) 40%);
    border-radius: 50% 50% 0 0;
    z-index: 1;
}

.curve-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgb(19, 19, 60) 10%, black 30%);
    border-radius: 50% 50% 0 0;
    z-index: 2;
}
.block{
    background-color: black;
}
section {
    background: black;
    /* height: max(1000px ,300px); */
    width: 80vw;
    margin: auto;
    overflow: hidden;

}

.new-box {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: max-content;
    padding: 20px;
}

.new-box>h5 {
    color: white;
    font-family: sans-serif;
    padding: 10px;
    font-size: 25px;
    margin: 5px 0px 9px 0px;
}

.container {
    display: flex;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}

@media (max-width:900px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }
}

.grid-box {
    display: flex;
    background: linear-gradient(to bottom right, rgb(7, 7, 37) 57%, rgb(214, 56, 56) 207%);
    height: 250px;
    border-radius: 15px;
    flex-direction: column;


}

.grid-box h5 {
    text-align: start;
    margin: 15px 15px 0px 15px;

}

.grid-box>p {
    text-align: start;
    font-size: 15px;
    margin: 15px;
    color: grey;
}

.query>h5 {
    color: white;
    font-family: sans-serif;
    padding: 10px;
    font-size: 25px;
    margin: 25px 0px 0px 0px;
}

.query {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.question {
    display: flex;
    color: white;
    height: 60px;
    background-color: rgb(54, 50, 50);
    margin: 5px;
    font-family: 'poppins';
    align-items: center;
    font-size: 25px;
    padding: 10px;
    justify-content: space-between;
}
.question:hover{
    transform: scale(0.95);
    cursor: pointer;
}


.membership-btn {
    border: none;
    background-color: red;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
    margin: 0vw 0vw 3vw 0vw;
    cursor: pointer;
    overflow: hidden;

}

.call {
    color: rgb(177, 173, 173);
    font-family: sans-serif;
}

.second-part{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.second-part > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}

.second-part> div > a{
    margin: 10px;
    cursor: pointer;
    color: rgb(177, 173, 173);
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 500;
}
.down-select{
    margin: 30px 30px 30px 140px;
}

footer{
    font-family: 'poppins' ;
    font-weight: 600;
    font-size: 14px;
    color: rgb(177, 173, 173);
    width: 80vw;
    margin: auto;
    padding-bottom: 70px;
}